<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.casino">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".actividades.Ayuda"></activity>
        <activity android:name=".actividades.About" />
        <activity android:name=".actividades.Clientes" />
        <activity android:name=".juegos.Juegos" />
        <activity android:name=".juegos.Tragaperras" />
        <activity android:name=".juegos.Ruleta" />
        <activity android:name=".juegos.Dados" />
        <activity android:name=".actividades.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>